*{front-family:"Bookman Old Style";
font-style:oblique;}
body{background: linear-gradient(to top right,#FA8072,#FF7F50,#FF69B4);} 
.menu{list-style:none;
margin:2;
padding-left: 50px;
background:linear-gradient(to top right,left,#DDA0DD, #BA55D30;} 
.left{background:#32CD32;
                width: 360px;
                display: inline-block}
.right{background:#32CD32;
                width: 360px;
                display: inline-block;
}

  div1  
  { text-align:center;
  font-size: 15pt;
  font-family: Arial;
  vertical-align:super;
  text-indent:40px;
  margin:55px;
  padding:45px;
  text-align: left|right|center|justify;
}
} 
   div4 
   { font-size:25pt;

